body {
  font-family: "Markazi Text", serif;
  background-color: black;
  /* background-image: url("https://image.freepik.com/free-photo/empty-wooden-table-with-smoke-float-up-dark-background_68495-135.jpg"); */
  /* background-repeat: no-repeat; */
}

.App {
  text-align: center;
}
